<script id="paginated-table" type="text/html">
  <table class="table table-striped jambo_table bulk_action">
    <thead>
    <tr class="headings">
      <th style="width: 2%;">
        <input type="checkbox" id="check-all" class="flat">
      </th>
      <th class="center">ID</th>
      <th class="center">Name</th>
      <th class="center">Email</th>
    </tr>
    </thead>
    <tbody>
    {{#data.content}}
    <tr>
      <td style="width: 2%;">
        <input type="checkbox" class="flat" name="table_records">
      </td>
      <td>{{id}}</td>
      <td>{{firstName}} {{lastName}}</td>
      <td>{{email}}</td>
    </tr>
    {{/data.content}}
    </tbody>
  </table>
  <div class="row">
    <div class="col-lg-12">Showing {{startElement}} to {{endElement}} of {{data.totalElements}}
    </div>
    <div class="col-lg-12">
      <div class="pagination">
        <a href="#" onclick="{{previous}}">Previous</a>
        {{#pages}}
        <a href="#" id="emp_page_{{index}}" onclick="showPage(this);">{{.}}</a>
        {{/pages}}
        {{resetIndex}}
        <a href="#" onclick="{{next}}">Next</a>
      </div>
    </div>
  </div>
</script>